/*======================================

        Default Values

Fonts: Roboto(paragraphs), Calistoga (headings)

Colors:
1. Sizzling Red: #f53b57;
2. Really Dark Blue: #181e2c;
3. Realy Light Blue: #e5ebf8;

======================================*/



/*------------------------------
        Basic setup
------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #181e2c;
    text-rendering: optimizeLegibility;
}

body p {
    font-family: 'Roboto', sans-serif;
}

body h1,
body h2,
body h3,
body h4 {
    font-family: 'Calistoga', cursive;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}




/*------------------------------
            Header
------------------------------*/
header {
    width: 100%;
    background-color: #181e2c;
    color: #e5ebf8;
}

.heading-div {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.heading-div h1 {
    font-size: 35px;
    letter-spacing: 2px;
}

.nav-menu a {
    color: #e5ebf8;
    padding: 31px 30px;
    font-size: 21px; 
    transition: background-color .3s ease-in-out;
}

.nav-menu a:hover {
    background-color: #f53b57;
}



/*------------------------------
        Header-section
------------------------------*/
.header-section {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e5ebf8;
}

.header-section h2 {
    font-size: 65px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.header-section p {
    font-size: 23px;
    letter-spacing: 1px;
    word-spacing: 3px;
}



/*------------------------------
        Personal info
------------------------------*/
.personal-info {
    text-align: center;
    margin-top: 70px;
}

.personal-info img {
    border: 4px solid #f53b57;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all .3s linear;
}

.personal-info img:hover {
    filter: none;
    border-radius: 50%;
}

.personal-info h2 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 40px;
}

.personal-info h3 {
    margin-top: 40px;
    font-size: 35px;
    color: #f53b57;
}

.personal-info p {
    max-width: 1400px;
    margin: 30px auto;
    font-size: 19px;
}



/*------------------------------
          Abilities
------------------------------*/
.abilities {
    display:  flex;
    text-align: center;
    justify-content: space-between;
    margin: 120px auto;
}

.ability {
    margin-right: 45px;
}

.ability:last-child {
    margin: 0;
}

.ability i {
    color: #f53b57;
    font-size: 80px;
}

.ability h3 {
    margin-top: 20px;
    font-size: 27px;
}

.ability p {
    margin-top: 40px;
}



/*------------------------------
            Works
------------------------------*/
.works {
    background-color: #181e2c;
    width: 100%;
    text-align: center;
    color: #e5ebf8;
    padding: 80px 0;
}

.works h2 {
    padding-bottom: 50px;
    font-size: 40px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.works-gallery {
    display: flex;
    flex-flow: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.works-gallery img {
    width: 32%;
    margin: 1% 0;
}



/*------------------------------
            Contact
------------------------------*/
.contact {
    background-color: #f53b57;
    text-align: center;
    padding-bottom: 80px;
}

.contact h2 {
    padding-top: 50px;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 45px;
    color: #e5ebf8;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.contact form {
    max-width: 1400px;
    margin: 0 auto;
}

.contact input, 
.contact textarea {
    width: 100%;
    margin: 15px auto;
    padding: 9px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e5ebf8;
}

.contact textarea {
    resize: none;
}

input:focus, textarea:focus {
    background-color: #181e2c;
    color: #e5ebf8;
}

form .button {
	background-color: #f53b57;
	color: #e5ebf8;
	letter-spacing: 2px;
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
    border: 2px solid #e5ebf8;
    font-size: 20px;
}

form .button:hover {
	background-color: #e5ebf8;
	color: #f53b57;
    transform: scale(0.95);
}



/*------------------------------
            Footer
------------------------------*/
footer {
    text-align: center;
    padding: 15px;
    background-color: #181e2c;
    color: #e5ebf8;
}








